@model RegistroModel;
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
       Eliminar Pelicula
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantenedor" method="post">
            <input asp-for="idRegistro" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                Eliminar la Pelicula :@Html.DisplayFor(m => m.Nombre)?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning ">
                Volver a la lista
            </a>

        </form>



    </div>
</div>


